<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Update User</title>

    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      defer
      src="{{ url_for('static', filename='js/update_user.js') }}"
    ></script>
  </head>

  <body>
    <h1>Update User</h1>

    <form id="updateUserForm">
      <div style="margin-top: 5px">
        <div>
          <label for="firstName">First Name:</label>
        </div>
        <input type="text" id="firstName" name="firstName" required />
      </div>

      <div style="margin-top: 5px">
        <div>
          <label for="lastName">Last Name:</label>
        </div>
        <input type="text" id="lastName" name="lastName" required />
      </div>

      <div style="margin-top: 5px">
        <div>
          <label for="email">Email:</label>
        </div>
        <input type="email" id="email" name="email" required />
      </div>

      <div style="margin-top: 5px">
        <div>
          <label for="age">Age:</label>
        </div>
        <input type="number" id="age" name="age" />
      </div>

      <div style="margin-top: 5px">
        <div>
          <label for="password">Password:</label>
        </div>
        <input type="password" id="password" name="password" />
      </div>

      <button type="button" style="margin-top: 10px" onclick="updateUser()">
        Update User
      </button>

      <div style="margin-top: 10px">
        <a href="{{ url_for('get_all_users') }}">Back to All Users</a>
      </div>
    </form>
  </body>
</html>
