<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>User List</title>

    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      defer
      src="{{ url_for('static', filename='js/get_users.js') }}"
    ></script>
  </head>

  <body>
    <h1>User List</h1>
    <a href="{{ url_for('create_user_page') }}">Create User</a>

    {% if users %}
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="text-align: left">ID</th>
          <th style="text-align: left">First Name</th>
          <th style="text-align: left">Last Name</th>
          <th style="text-align: left">Email</th>
          <th style="text-align: left">Age</th>
          <th style="text-align: left">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.age }}</td>
          <td>
            <button onclick="loadUpdateForm('{{ user.id }}')">Update</button>
            <button onclick="deleteUser('{{ user.id }}')">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <p>No data found.</p>
    {% endif %}
  </body>
</html>
